
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>GREEN FINGERS APP</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="/showSignin">Sign In</a></li>
 	    <li role="presentation"><a href="/showSignUp">Sign Up</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">GREEN FINGERS APP</h3>
      </div>

      <div class="jumbotron">
        <h1>WHERE FARMERS COME FIRST</h1>
        <p class="lead"></p>
        <p><a class="btn btn-lg btn-success" href="/showSignUp" role="button">Sign up today</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Sector analysis</h4>
          <p>Data on each sector is stored</p>

          <h4>Farm analysis</h4>
          <p>data about the type of farm is stored</p>
        </div>

        <div class="col-lg-6">
          <h4>Planned Farming</h4>
          <p>Plan the crop to be grown with the data available</p>

          <h4>Putting farmers First</h4>
          <p>Farmers are our backbone</p>

        </div>
      </div>

      <footer class="footer">
        <p>&copy;vaibhav|varun|supreeth</p>
      </footer>

    </div>
  </body>
</html>
