
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>GREEN FINGERS APP</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-1.11.2.js"></script>


  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/userHome">Home</a></li>
            <li role="presentation" class="active"><a href="/logout">Logout</a></li>

          </ul>
        </nav>
        <h3 class="text-muted"> GREEN FINGERS APP</h3>
      </div>

      <div class="jumbotron">
        <h1>Welcome Home !!</h1>
        </div>

      <div class="jumbotron">
        <h2>Sector Add or View</h2>

        <div class="container" align="center">
  <a href='/showAddSector'><button type="button" class="btn btn-primary btn-lg">ADD</button></a>
  <button type="button" class="btn btn-primary btn-lg">EDIT</button>
  <button type="button" class="btn btn-primary btn-lg">VIEW</button>
      </div>
    </div>


      <div class="jumbotron">
        <h2>Farm Add or View</h2>
        <div class="container" align="center">
  <a href='/showAddFarm'><button type="button" class="btn btn-primary btn-lg">ADD</button></a>
  <button type="button" class="btn btn-primary btn-lg">EDIT</button>
  <button type="button" class="btn btn-primary btn-lg">VIEW</button>
      </div>
      </div>



      <footer class="footer">
        <p>&copy; Company 2015</p>
      </footer>

    </div>
  </body>
</html>
